---
layout: category_list
title: Explore Tags
add_to_menu: false
description: "all tags of the help center"
---
<div class="topics-area bg-color1">
   <div class="topics-wrapper section-spacing bminus-30">
      <div class="container">
         <div class="col">
            {% assign posts_number = 0 %}
            {% assign my_doc_tags = site.posts | map: 'tags' | join: ',' | split: ',' | uniq %}
            {% for tag in my_doc_tags %}
            <!--CONTATORE POST-->
            {% assign posts_number = 0 %}
            {%- assign posts = site.posts | where: 'draft' ,'false' -%}
            {% for doc_post in posts %}
            {% if doc_post.tags contains tag %}
            <!--CONTROLLO CHE LA CATEGORIA NN SIA DRAFT-->
            {% capture category_post %}{{ doc_post.categories[0]}}{% endcapture %}
            {% if category_post != nil %}
            {% assign category = site.data.category.category | where: 'key' ,category_post | where: 'type' ,
            '(categoria)' | first%}
            {% capture category_draft %}{{ category.draft}}{% endcapture %}
            {% if category_draft == "false" %}
            <!--CAPISCO SE LA SEZIONE E' DRAFT-->
            {% capture section_post %}{{ doc_post.categories[1]}}{% endcapture %}
            {% if section_post != nil %}
            {% assign section = site.data.category.category | where: 'key' ,section_post | where: 'type' , '(sezione)' |
            first%}
            {% capture section_draft %}{{ section.draft}}{% endcapture %}
            {% if section_draft == "false" or section_draft == "" %}
            <!--CONTROLLO CHE IL POST NN SIA DRAFT-->
            {% capture post_draft %}{{ doc_post.draft}}{% endcapture %}
            {% if post_draft == "false" %}
            {% assign posts_number = posts_number | plus: 1 %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <!--FINE CONTATORE POST-->
            <div class="col-md-6 col-lg-4">
               <!--CONTROLLO CHE CI SIA ALMENO UN ARTICOLO NEL TAG-->
               {% if posts_number != 0 %}
               <!-- <article class="topics-service bg-color3 wow fadeIn" style="width: 700px;" data-wow-duration="3s"> -->
               <article class="topics-service bg-color3" style="width: 700px;">
                  <header class="topics-title">
                     <h3 class="heading-3 text-capitalize">{{ tag }} ({{posts_number}})</h3>
                  </header>
                  <ul class="list-inline">
                     {%- assign posts = site.posts | where: 'draft' ,'false' -%}
                     {% for doc_post in posts %}
                     {% if doc_post.tags contains tag %}
                     <!--CONTROLLO CHE LA CATEGORIA NN SIA DRAFT-->
                     {% capture category_post %}{{ doc_post.categories[0]}}{% endcapture %}
                     {% if category_post != nil %}
                     {% assign category = site.data.category.category | where: 'key' ,category_post | where: 'type' ,
                     '(categoria)' | first%}
                     {% capture category_draft %}{{ category.draft}}{% endcapture %}
                     {% if category_draft == "false" %}
                     <!--CAPISCO SE LA SEZIONE E' DRAFT-->
                     {% capture section_post %}{{ doc_post.categories[1]}}{% endcapture %}
                     {% if section_post != nil %}
                     {% assign section = site.data.category.category | where: 'key' ,section_post | where: 'type' ,
                     '(sezione)' | first%}
                     {% capture section_draft %}{{ section.draft}}{% endcapture %}
                     {% if section_draft == "false" or section_draft == "" %}
                     <!--CONTROLLO CHE IL POST NN SIA DRAFT-->
                     {% capture post_draft %}{{ doc_post.draft}}{% endcapture %}
                     {% if post_draft == "false" %}
                     <li><a href="{{ doc_post.url  | relative_url }}" class="article_link">{{ doc_post.title }}</a></li>
                     {% endif %}
                     {% endif %}
                     {% endif %}
                     {% endif %}
                     {% endif %}
                     {% endif %}
                     {% endfor %}
                  </ul>
               </article>
               {% endif %}
            </div>
            {% endfor %}
         </div>
         {% if posts_number == 0 %}

         <div class="nocontent"
            style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <img src="../assets/images/no-content-blue.png" width="200px" height="auto">
            <p class="center" style="font-family: 'Poppins'; padding: 0px; margin: 30px; font-size: 20px;">
               {{site.data.ui-text[site.locale].tag_no | default: "Oops! There seems to be no content." }}</p>
         </div>

         <!-- <div class="nocontent">
            <h7 class="heading-7">
               <p class="center">{{site.data.ui-text[site.locale].tag_no | default: "Create an article .." }}</p>
            </h7>
         </div> -->
         <br>
         {% endif %}
      </div>
   </div>
</div>
</section>
<!-- End Topics Area -->