<!-- Start Slider  Area -->
{% capture custom_color %}{{site.data.header.custom_color}}{% endcapture %}
{% capture img_header %}{{site.data.header.img_header}}{% endcapture %}
{% if img_header != ""%}
      <section class="page-title-area bg-cover-custom" style="background-color:{{custom_color}}!important; background-image: url({{img_header}}); min-height: 450px; background-size: cover; background-repeat: no-repeat; background-position: center !important;"> 
   {% else %}
      <section class="page-title-area bg-cover-custom" id="header_cover"  style="min-height: 450px; background-color:{{custom_color}}!important;">
   {% endif %}
   <div class="section-spacing page-title-wrapper">
      <div class="container">
         {% include search_header.html %}
      </div>
   </div>
</section>
<!-- End Slider Area -->