<!--
DEB1: {{post.header.teaser}}
{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
DEB2: {{site.teaser}}
{% endif %}

DEB3: {{post.id}}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
DEB4: {{title}}
DEB5: {{include.type}}
-->
<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        <h7 class="heading-7" itemprop="headline" style="margin-bottom: -2px;">
          <p class="archive__item-excerpt" itemprop="description">
          <a href="{{ post.url | relative_url }}" rel="permalink" class="article_link">{{ title }} <!--/({{post.order}})--></a>
          </p>
        </h7>
        <!--ABSTRACT ARTICOLO
        <h7 style="font-size: 13px; font-style: italic;">
          {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 93 }}</p>{% endif %}
        </h7>-->
  </article>
</div>