<nav class="layout-breadcrumb">
    <ol class="breadcrumb">
        <!--DEB1: {{site.locale}}-->
        <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">{{site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</a></li>
        {% capture category %}{{page.categories[0]}}{% endcapture %}
        {% capture section %}{{page.categories[1]}}{% endcapture %}
        {% assign my_category = site.data.category.category | where: "key",category %}
        {% assign my_section = site.data.category.category | where: "key",section %}
        <!--DEB1: {{category}}-->
        <!--DEB2: {{section}}-->
        {% capture my_category_url %}{{ my_category.first.url}}{% endcapture %}
        {% capture my_section_url %}{{ my_section.first.url}}{% endcapture %}
        {% assign my_category_url = "/categories/" | append: my_category_url %}
        {% assign my_category_url_com = my_category_url | append: "/" %}
        {% assign display_mode =  site.data.topicsarea.display_mode %}
        <li class="breadcrumb-item"><a href="{{  my_category_url_com | relative_url}}">{{ my_category.first.label | replace: '[', '' | replace: ']', '' | replace: '"', '' | replace: '_', ' '  }}</a></li>
        {% if display_mode == "all" or display_mode == "article_in_section" %}
            {% if my_section_url != '' %}
                {% assign my_section_url = "/categories/" | append: my_section_url %}
                {% assign my_section_url_com = my_section_url | append: "/" %}
                <li class="breadcrumb-item"><a href="{{  my_section_url_com | relative_url}}">{{ my_section.first.label | replace: '[', '' | replace: ']', '' | replace: '"', '' | replace: '_', ' '  }}</a></li>
                {% assign my_category_section_url_complex = my_category_section_url_com | append: my_section_url %}
            {% endif %}
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
    </ol>
</nav>