<!--ELENCO NUOVI POST SULLA SPALLA A DX-->
<div class="sidebar-area sidebar-right">
<h5 class="sub-title heading-5">{{site.data.ui-text[site.locale].recent_posts | default: "Latest posts" }}</h5>
<div class="recent-widget sidebar-widget">
<!--START LATEST POSTS-->
{% assign normal_posts = site.posts | where: 'draft' ,'false' %}
{% if normal_posts.size > 0 %}
   {% for post in normal_posts limit:5 %}
   <!--CAPISCO SE LA CATEGORIA E' DRAFT-->
   {% capture category_post %}{{ post.categories[0]}}{% endcapture %}
   {% if category_post != nil  %}  
      {% assign category = site.data.category.category | where: 'key' ,category_post | where: 'type' , '(categoria)' | first%}
      {% capture category_draft %}{{ category.draft}}{% endcapture %}
      {% if category_draft == "false" %}
         <!--CAPISCO SE LA SEZIONE E' DRAFT-->
         {% capture section_post %}{{ post.categories[1]}}{% endcapture %}
         {% if section_post != nil  %}  
            {% assign section = site.data.category.category | where: 'key' ,section_post | where: 'type' , '(sezione)' | first%}
            {% capture section_draft %}{{ section.draft}}{% endcapture %}
            {% if section_draft == "false" or section_draft == ""  %}  
               <!--CAPISCO SE IL POST E' DRAFT-->  
               <div class="recent-wrapper" style="margin-bottom: 0px;">
                  <a href="{{ post.url | relative_url }}" rel="permalink" class="article_link">{{post.title}}</a>
                  <p class="archive__item-excerpt" itemprop="description"></p>
                  <!--
                  <a class="recent-img">
                  <img src="{{post.post_image | relative_url}}" alt="{{post.title}}">
                  </a>
                  <div class="recent-details">
                     <h6 class="heading-6"> <a href="{{post.url | relative_url}}">{{post.title}}</a> </h6>
                     <ul class="recent-meta list-inline">
                        <li class="list-inline-item">{{post.date | date_to_long_string}}</li>
                     </ul>
                  </div>
               -->
               </div>
            {% endif %}
         {% endif %}  
      {% endif %}
   {% endif %}  
   {% endfor %}
  {% endif %}
  <!--END LATEST POSTS-->
</div>
   {% assign tags = site.tags  | sort %}
   {% if tags.size > 0%}
      <h5 class="sub-title heading-5">Tags</h5>
      <div class="tag-widget sidebar-widget list-inline">
      {% for tag in tags %}
         <span class="site-tag">
            <a href="{{ "/" | relative_url }}tags/{{ tag | first | slugify }}/"
            style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                     {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
            </a>
         </span>
      {% endfor %}
   {% endif %}
 </div>
</div>
