<!--ELENCO POST DELLA CATEGORIA E SEZIONE SULLA SPALLA A DX-->
<div class="sidebar-area sidebar-right">
<!--RIMUOVO DALL'URL /CATEGORIES/-->
<!--TROVA L'ARTICOLO-->
{% assign article_n3 =  site.posts | where: 'title' , page.title | first %}
<!--DEB_CAT: {{article_n3.categories[0]}}-->
{% assign article_cat =  article_n3.categories[0] %}
<!--DEB_SEZ: {{article_n3.categories[1]}}-->
{% assign article_sez =  article_n3.categories[1] %}
{% assign category_name = site.data.category.category | where: "key", article_cat | first %}
<!--DEB_category_label: {{category_name.label}}-->
{% capture category_label %}{{ category_name.label}}{% endcapture %}
{% assign section_name = site.data.category.category | where: "key", article_sez | first %}
<!--DEB_section_label: {{section_name.label}}-->
{% capture section_label %}{{ section_name.label}}{% endcapture %}
{% if article_cat != nil or article_sez != nil %}  
   {% if article_cat != nil and article_sez == nil %}  
      <!--SEI IN UNA CATEGORIA-->
      {% assign label =  {site.data.ui-text[site.locale].category_posts | default: "Category posts" } %}
      {% assign label_value = category_label %}
   {% endif %}
   {% if article_cat != nil and article_sez != nil %}  
      <!--SEI IN UNA SEZIONE-->
      {% assign label =  {site.data.ui-text[site.locale].section_posts | default: "posts"} %}
      {% assign label_value = section_label %}
   {% endif %}
      <h5 class="sub-title heading-5">{{label}} {{label_value}}</h5>
   {% if article_cat != nil and article_sez == nil %}  
   <!--SEI IN UNA CATEGORIA--> 
   <div class="recent-widget sidebar-widget">    
      {% capture category_key %}{{category_name.key}}{% endcapture %}
      {% assign all_posts = site.categories[category_key] | where: 'draft' ,'false' %}
      {% if all_posts.size > 0 %}
         {% assign all_posts_ord = site.categories[category_key] | where: 'draft' ,'false' | sort: "order" %}
         {% for post in all_posts_ord %}
            <!--CAPISCO SE LA SEZIONE E' DRAFT-->
            {% capture section_post %}{{ post.categories[1]}}{% endcapture %}
            {% if section_post != nil  %}  
               {% assign section = site.data.category.category | where: 'key' ,section_post | where: 'type' , '(sezione)' | first%}
               {% capture section_draft %}{{ section.draft}}{% endcapture %}
               {% if section_draft == "false" or section_draft == ""  %}  
               <!--CAPISCO SE IL POST E' DRAFT-->  
               <div class="recent-wrapper"style="margin-bottom: 0px;" >
                     <a href="{{post.url | relative_url}} " class="article_link">{{post.title}}</a>
                     <p class="archive__item-excerpt" itemprop="description"></p>
               </div>
               {% endif %}
            {% endif %}  
         {% endfor %}
      {% endif %}
   </div>
   {% endif %}
   {% if article_cat != nil and article_sez != nil %}
      <!--SEI IN UNA SEZIONE-->
      <div class="recent-widget sidebar-widget">    
      {% capture section_key %}{{section_name.key}}{% endcapture %}
      {% assign all_posts = site.categories[section_key] | where: 'draft' ,'false' %}
      {% if all_posts.size > 0 %}
         {% assign all_posts_ord = site.categories[section_key] | where: 'draft' ,'false' | sort: "order" %}
         {% for post in all_posts_ord %}
            <!--CAPISCO SE LA SEZIONE E' DRAFT-->
            {% capture section_post %}{{ post.categories[1]}}{% endcapture %}
            {% if section_post != nil  %}  
               {% assign section = site.data.category.category | where: 'key' ,section_post | where: 'type' , '(sezione)' | first%}
               {% capture section_draft %}{{ section.draft}}{% endcapture %}
               {% if section_draft == "false" or section_draft == ""  %}  
               <!--CAPISCO SE IL POST E' DRAFT-->  
               <div class="recent-wrapper" style="margin-bottom: 0px;">                 
                     <a href="{{post.url | relative_url}}" class="article_link">{{post.title}}</a>
                     <p class="archive__item-excerpt" itemprop="description"></p>
               </div>
               {% endif %}
            {% endif %}  
         {% endfor %}
      {% endif %}
   </div>
   {% endif %}
{% endif %}
</div>
