<!--ELENCO NUOVI POST SULLA SPALLA A DX-->
<div class="sidebar-area sidebar-right">
<h5 class="sub-title heading-5">Latest blog post</h5>
<div class="recent-widget sidebar-widget">
  {% for doc in site.docs limit:5 %}
   <div class="recent-wrapper">
      <a class="recent-img">
      <img src="{{doc.post_image | relative_url}}" alt="{{doc.title}}">
      </a>
      <div class="recent-details">
         <h6 class="heading-6"> <a href="{{doc.url | relative_url}}">{{doc.title}}</a> </h6>
         <ul class="recent-meta list-inline">
            <li class="list-inline-item">{{doc.date | date_to_long_string}}</li>
         </ul>
      </div>
   </div>
  {% endfor %}
</div>
</div>
