.site-preview-header {
    position: absolute;
    background-color:cornsilk;
    color:rgb(42, 106, 193);
    z-index: 1051;
    top: 0;
    width: 100%;
    text-align: center;
    display: block !important;
}