---
layout: default
author_profile: false
---
 <!-- PAGINA ELENCO DEI POST DI UNA CATEGORIA -->
{% include header.html %}
   <!-- Start Page Title Area -->
   {% capture bg-cover-custom_color %}{{site.data.header.custom_color}}{% endcapture %}
   <section class="page-title-area bg-cover-custom" style="background-color: {{bg-cover-custom_color}}!important;">
      <div class="page-title-wrapper section-spacing">
         <div class="page-title text-center white-text">
            <h2 class="heading-2">{{page.title | replace: '_', '-' }}</h2>
         </div>
      </div>
   </section>
   <!-- End Page Title Area -->
   {% include breadcrumbs.html %}
    <!-- Start Blog  Area -->
    <section class="blog-area bg-color1">
      <div class="blog-wrapper section-spacing bminus-30">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-lg-8">
               <!--RIMUOVO DALL'URL /CATEGORIES/-->
               {% capture category_n %}{{ page.url | remove: "/categories/"}}{% endcapture %}
               {% capture category_name %}{{ category_n | remove: "/"}}{% endcapture %}
               <!--PRENDO TUTTE LE CATEGORIE-->
               {% assign all_categories = site.categories[category_name] | map: "categories" | uniq %}
               <!--DEB1: {{all_categories}} -->
               <!-- <article class="post topics-service bg-color3 wow fadeIn" data-wow-duration="3s"> -->
               <article class="post topics-service bg-color3">
					<!--PRENDO TUTTE LE SEZIONI-->
               <!--{% capture all_section %}{{ all_categories | remove: category_name}}{% endcapture %}-->
               <!--CICLO SU TUTTE LE SEZIONI DELLA CATEGORIA-->
               {% for section in all_categories %}
                  <!--PRENDO TUTTI I POST CONTENENTI LA SEZIONE-->
                  {% if section !=  category_name %}
                 <!--DEB3: {{section}} -->
                     {% assign my_posts_section = site.categories[category_name] | where: 'categories',section %}
                     <h2 class="heading-5" itemprop="headline">{{section}}</h2>
                     {% for post in my_posts_section %}
                        <!--{{post.categories[1]}} -->
                         {% include archive-single.html %}
                     {% endfor %}
                  {% endif %}
               {% endfor %}
               </div>
               <div class="col-md-5 col-lg-4">
                {% include sidebar_cat_list.html %}
                {% include sidebar_new_post_list.html %}
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Blog Area -->
{% include footer_custom.html %}