<!DOCTYPE HTML>
<html lang={{site.locale}}>
<head>
    <!-- meta -->
	<!-- NO INDEX DEL SITO DA FILE HEADER YML-->
	{% if site.data.header.robots %}
  	<meta name="robots" content="{{site.data.header.robots}}" />
	  <!-- LOGS: {{site.data.header.robots}} -->
	{% endif %}
    <meta charset="utf-8">
	<!--SEO-->
	{% seo %}
	<!--END SEO-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name='description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">
	<!-- Facebook Open Graph -->	
	<meta content="{{ site.title }}" property="og:site_name">
	<meta property="og:locale" content="en_US" />
	{% if page.title %}<meta content="{{ page.title }}" property="og:title">{% else %}<meta content="{{ site.title }}" property="og:title">{% endif %}
	{% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="website" property="og:type">{% endif %}
	{% if page.excerpt %}<meta content="{{ page.excerpt }}" property="og:description">{% else %}<meta content="{{ site.description }}" property="og:description">{% endif %}
	{% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}	
	{% if page.post_image %}<meta content="{{ page.post_image }}" property="og:image">{% else %}<meta content="{{ site.cover_image }}" property="og:image">{% endif %}
	{% if page.tag %}{% for tag in page.tag %}<meta content="{{ tag }}" property="article:tag">{% endfor %}{% endif %}
	{% if page.categories %}{% for category in page.categories limit:1 %}<meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}
	<!-- Start update layout standard-->
	{% if site.data.footer.facebook %}<meta property="article:publisher" content={{site.data.footer.facebook}} />{% endif %}
	{% assign post_author =  site.posts | map: 'author' | join: ','  | split: ',' |sort_natural | uniq %}
	{% if post_author %}<meta property="article:author" content={{post_author}} />{% endif %}
	<link rel="canonical" href="{{ page.url | prepend: site.url }}">
	<!-- End update layout standard-->
	{% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}	
	<!-- Twitter cards -->
	<meta name="twitter:site"    content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{ page.twitter_username }}">
	{% if page.title %}<meta name="twitter:title"   content="{{ page.title }}">{% else %}<meta name="twitter:title"   content="{{ site.title }}">{% endif %}	
	{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
	{% if page.post_image %}<meta name="twitter:card"  content="summary_large_image"><meta name="twitter:image" content="{{ site.url }}{{ page.post_image }}">{% else %}<meta name="twitter:card"  content="summary"><meta name="twitter:image" content="{{ site.cover_image }}">{% endif %}
    <!-- Site Title -->
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
	<!-- START JSON-LD -->
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BlogPosting",
		  "url": "{{ site.url }}{{ page.url }}",
		  "name": {{ page.title | jsonify }},
		  "headline": {{ page.title | jsonify }},
		  "keywords": {{ page.tags | join: ',' | jsonify }},
		  "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
		  "articleBody": {{ page.content | strip_html | jsonify }},
		  "datePublished": {{ page.date | jsonify }},
		  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
		  "author": {
			"@type": "Person",
			"name": {{ post_author | jsonify }},
			"email": {{ site.email | jsonify }}
		  },
		  "publisher": {
			"@type": "Organization",
			"name": {{ site.title | jsonify }},
			"url": "{{ site.url }}",
			"logo": {
			  "@type": "ImageObject",
			  "width": 32,
			  "height": 32,
			  "url": "{{ site.url }}/icon/favicon.ico"
			}
		  },
		  "mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ site.url }}{{ page.url }}"
		  },
		  "image": {
			"@type": "ImageObject",
			"width": {{ page.img_width | default: site.img_width }},
			"height": {{ page.img_height | default: site.img_height }},
			"url": "{{ site.url }}{{ page.img_url | default: site.img_url }}"
		  }
		}
		</script>

	<!-- END JSON - LD-->
    <!--  Add Favicon -->
	<link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon"/>
	<link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon"/> 
	{% capture favicon_url %}{{site.data.header.favicon_url}}{% endcapture %}
	{% if favicon_url != "" %}
	<link rel="shortcut icon" href="{{ favicon_url | relative_url }}" type="image/x-icon"/>
	<link rel="icon" href="{{ favicon_url | relative_url }}" type="image/x-icon"/>
	{% endif %}
	{% if favicon_url == "" %}
	<link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon"/>
	<link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon"/>
	{% endif %}
	<!-- Add CSS File -->
    <link rel="stylesheet" href="{{ '/assets/css/app.min.css' | relative_url }} "/>
	<!-- Add BUILDING CSS  -->
	<link rel="stylesheet" href="{{ '/assets/css/building.css' | relative_url }} "/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
</head>

<body>
   {{ content }}
    <!-- Netfly Identity widget -->
<script>
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", user => {
		if (!user) {
		  window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		  });
		}
	  });
	}
  </script>
    <!-- Add Javascript File -->
   <script src="{{ '/assets/js/build.min.js' | relative_url }}"></script>
   		<script>
			$(function() {
				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
					var el = $(this.hash);
					if (el.length > 0) {
						// event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top - 100}, 500);
					}
				});

				});


		</script>
</body>      
</html>