---
layout: default
---
   {% include header.html %}
   <!-- LAYOUT DEL POST -->
   <!-- Start Page Title Area -->
   {% capture custom_color %}{{site.data.header.custom_color}}{% endcapture %}
   {% capture img_header %}{{site.data.header.img_header}}{% endcapture %}
   {% if img_header != ""%}
      <section class="page-title-area bg-cover-custom" style= "background-color:{{custom_color}}!important; background-image: url({{img_header}}); min-height: 450px; background-size: cover; background-repeat: no-repeat; background-position: center !important;"> 
   {% else %}
      <section class="page-title-area bg-cover-custom" id="header_cover"  style="min-height: 450px; background-color:{{custom_color}}!important;">
   {% endif %}
   <div class="page-title-wrapper section-spacing">
         {% include search_header.html %}
   </div>
   </section>
   <!-- End Page Title Area -->
   {% include doc_post_breadcrumb.html %}
   <!--CARICA TUTTE LE LINGUE IN CUI E' STATO TRADOTTO UN ARTICOLO-->
   <!--
   <div>
      <ul>
         {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
         {% for post in posts %}
           <li style = "display:inline-block; background-color:#eee; list-style-type:none;  margin-right:-1px; padding:6px; border-right:1px solid white;">
             <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
           </li>
         {% endfor %}
      </ul>
   </div>
   -->
   <!-- Start Blog  Area -->
   <section class="blog-area bg-color1">
      <div class="blog-wrapper section">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-lg-8">
                  <!-- POST-->
                  {% include post_loop.html %}
               </div>
               <div class="col-md-5 col-lg-4">
                 {% include sidebar_cat_list.html %}
                 {% include sidebar_cat_post.html %}
                 {% include sidebar_new_post_list.html %}
                 {% include nav.html %}
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- End Blog Area -->
{% include footer_custom.html %}
